<!-- navbar -->
<% if current_user %>
  <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <a class="navbar-brand" href="#"><%= t 'welcome,' %><%= current_user.handle_name %></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto justify-content-end">
        <li class="nav-item">
          <%= link_to (t 'album'), album_user_path( :id => current_user.id ), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to (t 'edit_info'), edit_user_path( :id => current_user.id ), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to (t 'change_password'), edit_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to (t 'sign_out'), destroy_user_session_path, :method => :delete, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t 'language' %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="?locale=zh">中文</a>
            <a class="dropdown-item" href="?locale=en">English</a>
            <a class="dropdown-item" href="?">日本語</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
<% end %>

<div class="container" style="padding-top: 10px;">
  <!-- new chirp -->
  <div class="chirp border-top-0 border-right-0 border-bottom-0 border-left-0 bg-white"
    style="padding: 10px;">
    <%= render 'form', chirp: @chirp %>
  </div>
  <!-- list chirps -->
  <% @chirps.each do |chirp| %>
    <div class="chirp border-right-0 border-bottom-0 border-left-0 mt-1 bg-white">
      <% if chirp.user.face %>
        <% face = chirp.user.face %>
        <% if face.content_type =~ /^image\/.*?(png|jpeg|gif)$/ %>
          <%= image_tag url_for({:action => 'face', :id=> face.id,
            :filename => face.name}), :alt => face.name, :class => 'face rounded-circle'
            %>
        <% else %>
          <%= image_tag 'default_face.png', :alt => 'No Photo', :class => 'face rounded-circle' %>
        <% end %>
      <% else %>
        <%= image_tag 'default_face.png', :alt => 'No Photo', :class => 'face rounded-circle' %>
      <% end %>
      <div class="chirp_right">
        <div class="user font-weight-bold"><%= chirp.user.handle_name %></div>
        <div class="chirped_at text-pink"><%= chirp.chirped_at %></div>
        <div class="text"><%= chirp.chirp %></div>
        <div>
          <% if chirp.photo %>
            <% if chirp.file_type =~ /^image\/.*?(png|jpeg|gif)$/ %>
              <%= image_tag url_for({:action => 'photo', :id=> chirp.id,
                :filename => chirp.file_name}), :alt => chirp.file_name, :class => 'photo'%>
            <% elsif chirp.file_type =~ /^video\/.*?(mp4)$/ %>
              <%= video_tag url_for({:action => 'photo', :id=> chirp.id,
                :filename => chirp.file_name}), :alt => chirp.file_name, :class => 'photo'%>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row button text-pink">
        <div class='col'><%= link_to (t 'show'), chirp %></div>
        <% if chirp.user_id == current_user.id %>
          <div class='col'><%= link_to (t 'edit'), edit_chirp_path(chirp) %></div>
          <div class='col'><%= link_to (t 'destroy'), chirp, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>