<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <a class="navbar-brand" href="#">Edit Info</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto justify-content-end">
      <li class="nav-item">
        <%= link_to 'Edit', edit_chirp_path(@chirp), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Back', chirps_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Language
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#ch">中文</a>
          <a class="dropdown-item" href="#en">English</a>
          <a class="dropdown-item" href="#ja">日本語</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container" style="padding-top: 10px;">
  <!-- show chirp -->
  <div class="chirp border-right-0 border-bottom-0 border-left-0 mt-1 bg-white">
    <div class="chirp_right">
      <div class="user font-weight-bold"><%= @chirp.user.email %></div>
      <div class="chirped_at text-pink"><%= @chirp.chirped_at %></div>
      <div class="text"><%= @chirp.chirp %></div>
      <div>
        <% if @chirp.photo %>
          <% if @chirp.file_type =~ /^image\/.*?(png|jpeg|gif)$/ %>
            <%= image_tag url_for({:action => 'photo', :id=> @chirp.id,
              :filename => @chirp.file_name}), :alt => @chirp.file_name, :class => 'photo'%>
          <% elsif @chirp.file_type =~ /^video\/.*?(mp4)$/ %>
            <%= video_tag url_for({:action => 'photo', :id=> @chirp.id,
              :filename => @chirp.file_name}), :alt => @chirp.file_name, :class => 'photo'%>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
